@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
input[type='submit'] {
  transition: 0.5s;
  color: white;
  scale: 1.3;
  font-weight: 900;
}
input[type='submit']:hover {
  scale: 1.5;
}
body{
  background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 5% 0;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* @media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }

} */

@media (max-width : 600px) {
  td,th{
    padding: 10px 20px !important;
  }
  .container {
    padding: 0px !important;
  }
  input[type='submit'] {
    padding: 8px 60px !important;
  }
  #bill {
    scale: 0.85;
  }
}
/* .d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
} */
form{
  flex: 4;
}
.Yorder{
  flex: 2;
}
.title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgb(208, 208, 8)), color-stop(100, rgb(171, 171, 5)));
  background: -moz-linear-gradient(top left, rgb(208, 208, 8) 0%, rgb(171, 171, 5) 100%);
  background: -ms-linear-gradient(top left, rgb(208, 208, 8) 0%, rgb(171, 171, 5) 100%);
  background: -o-linear-gradient(top left,  rgb(208, 208, 8) 0%, rgb(171, 171, 5) 100%);
  background: linear-gradient(to bottom right,  rgb(208, 208, 8) 0%, rgb(171, 171, 5) 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
  text-align: center;
}
h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

table{
  margin: auto;
  padding: 0;
  display: inline-block;
  border: 0.5px solid rgb(158, 145, 145);
}
td{
  text-align: center;
}
th{
  border-bottom: 1px solid #dadada;
  font-weight: 300;
  

  /* padding: 10px 0; */
}
td,th{
  padding: 0px 35px;
  
}

#show-confirm {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

#show-confirm > span {
  font-size: clamp(0px,50vw,200px);
  color: rgb(33, 207, 33);
}

tr>td:nth-child(2){
  color: #000000;
  font-weight: 900;
}
tr>td:nth-child(3){
  color: #000000;
  font-weight: 900;
} 
td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.Yorder>div{
  padding: 15px 0; 
}

button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background: #428a7d;
}